
.logo {
    float: left;
    width: 350px;
}

.home-logo,
.tem-logo {
  width: 100%;
}

.home-logo {
    height: 200px;
    object-fit: cover;
}

.tem-logo {
    height: 70px;
    object-fit: cover;
}

.top-nav {
    float: right;
    width: calc(100% - 350px);
}

.navbar {
    height: 70px;
}

.navbar-collapse {
    justify-content: center;
}


.home-article-scroll {
    background-color: rgb(245, 245, 245);
    position: absolute;
    left: 0px;
    top: 200px;
    width: 350px;
    height: calc(100vh - 200px - 70px);
    overflow-y: scroll;
}

.blog-preview{
    margin: 10px;
}

.preview-image {
    margin-top: 10px;
    float: left;
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.preview-text {
    margin-top: 10px;
    float: right;
    width: 230px;
    height: 75px;
}

.preview-title {
    font-size: 1em;
}

.preview-author-date{
    float: right;
    padding-left: 8px;
}
.preview-author {
    font-size: .75em;
}

.preview-date {
    font-size: .5em;
}

.preview-body {
    font-size: .5em;
}

.home-img-carousel {
    position: absolute;
    left: 350px;
    top: 70px;
    width: calc(100vw - 350px);
    height: calc(100vh - 70px -70px) !important;
    border: 1px solid black;
}

.carousel-img {
    width: calc(100vw - 350px);
    height: calc(100vh - 70px -70px) !important;
    object-fit: cover;
    border: 1px solid black;
}